.nome{
    background-image: linear-gradient(rgb(172, 172, 221),rgba(0, 0, 255, 0.041));
}
#titulo{
    font-size: 25px;
    color:red;
    text-align: center;
    margin: 0px;
}
.imagem{
    text-align: center;
}
.conteudo{
    background-image: linear-gradient(rgb(71, 71, 122),rgba(120, 120, 231, 0.473));
}
.texto{
    font-size: 20px;
    color: blue;
    text-align: center;
}
.textoo{
    font-size: 20px;
    color: rgb(241, 33, 68);
    text-align: center;
}