.body{
    background-image: linear-gradient(rgb(172, 172, 221),rgba(0, 0, 255, 0.041));
}
#titulo{
    font-size: 25px;
    color:red;
    text-align: center;
}
.texto{
    font-size: 20px;
    color: blue;
    text-align: center;
}
.textoo{
    font-size: 20px;
    color: rgb(241, 33, 68);
    text-align: center;
}